<%- include("partials/header") %>

<main role="main" class="inner cover">
    <h1 class="cover-heading">Tienes algo en mente que pueda ayudar a nuestro compañero?</h1>
    <form class="formulario" method="POST" action="/authQuestions/:pregunta">
        <div class="form-floating">
            <input type="text" class="form-control" name="title" id="floatingInput" placeholder="Titulo de la pregunta" autocomplete="off">
            <input type="text" class="form-control" name="content" id="floatingInput" placeholder="Respuesta" autocomplete="off">
        </div>
        <button class="w-100 btn btn-lg btn-primary botones" type="submit">Responder</button>
    </form>
    <div class="card pregunta" style="width: 18rem;">
        <div class="card-header titulo">
            <%=question.title%>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item contenido"><%=question.content%></li>
        </ul>
    </div>
    <% answers.forEach((answer) => {%>
        <div class="card respuesta" style="width: 18rem;">
            <div class="card-header">
                <%=answer.content%>
            </div>
        </div>
    <%})%>
</main>

<%- include("partials/footer") %>