<%- include("partials/header") %>

<main role="main" class="inner cover">
    <h1 class="cover-heading">Espero te sea de util!</h1>
    <a href="/questions" class="btn btn-lg btn-secondary botones">Ver todas las preguntas</a>
    <div class="card pregunta" style="width: 25rem;">
        <div class="card-header titulo">
            <%=question.title%>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item contenido"><%=question.content.substring(3, question.content.length - 6)%></li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item contenido">por <%=question.user.username%> </li>
        </ul>
    </div>
    <% answers.forEach((answer) => {%>
        <div class="card respuesta" style="width: 25rem;">
            <div class="card-header">
                <%=answer.content%>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item contenido">por <%=answer.user.username%> </li>
            </ul>
        </div>
    <%})%>
</main>

<%- include("partials/footer") %>